<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap mp uap3">

  <Identity
    Name="38488StewartRyan.24898061B3F0E"
    Publisher="CN=680AB335-56C7-4E87-81DE-D27B78AC46A3"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>Audibly — Audiobook Player</DisplayName>
    <PublisherDisplayName>rstewa35</PublisherDisplayName>
    <Logo>Assets\AppImages\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Audibly"
        Description="Audibly - Desktop Audiobook Player for .M4B files"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\AppImages\Square150x150Logo.png"
        Square44x44Logo="Assets\AppImages\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\AppImages\Wide310x150Logo.png"  Square71x71Logo="Assets\AppImages\SmallTile.png" Square310x310Logo="Assets\AppImages\LargeTile.png" ShortName="Audibly"/>
        <uap:SplashScreen Image="Assets\AppImages\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\AppImages\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
